<!---
taken from: https://raw.githubusercontent.com/YinAoXiong/cayman/master/_includes/head-custom-google-analytics.html
replacing template's original Google UA with working GA4 code
--->
{% if site.google_analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
  </script>
{% endif %}
